/*!
 * DSFR v1.3.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #xwikimaincontainer #mainContentArea .use-dsfr button:hover,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="button"]:hover,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="image"]:hover,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="reset"]:hover,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="submit"]:hover {
    background-image: radial-gradient(circle at center, hsla(0, 0%, 75%, 0.3), hsla(0, 0%, 75%, 0.3) 10%);
  }

  #xwikimaincontainer #mainContentArea .use-dsfr button:active,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="button"]:active,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="image"]:active,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="reset"]:active,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="submit"]:active {
    background-image: radial-gradient(circle at center, hsla(0, 0%, 75%, 0.5), hsla(0, 0%, 75%, 0.5) 10%);
  }

  body #xwikimaincontainer #mainContentArea .use-dsfr {
    background-color: #fff;
    color: #3a3a3a;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr h6,
  #xwikimaincontainer #mainContentArea .use-dsfr h5,
  #xwikimaincontainer #mainContentArea .use-dsfr h4,
  #xwikimaincontainer #mainContentArea .use-dsfr h3,
  #xwikimaincontainer #mainContentArea .use-dsfr h2,
  #xwikimaincontainer #mainContentArea .use-dsfr h1 {
    color: #161616;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr hr {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5);
  }

  #xwikimaincontainer #mainContentArea .use-dsfr a:not([href]),
  #xwikimaincontainer #mainContentArea .use-dsfr button[disabled],
  #xwikimaincontainer #mainContentArea .use-dsfr button:disabled,
  #xwikimaincontainer #mainContentArea .use-dsfr input[disabled],
  #xwikimaincontainer #mainContentArea .use-dsfr input:disabled,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="checkbox"][disabled],
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="checkbox"][disabled] + label,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="checkbox"]:disabled + label,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="radio"][disabled],
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="radio"][disabled] + label,
  #xwikimaincontainer #mainContentArea .use-dsfr input[type="radio"]:disabled + label,
  #xwikimaincontainer #mainContentArea .use-dsfr textarea[disabled],
  #xwikimaincontainer #mainContentArea .use-dsfr textarea:disabled,
  #xwikimaincontainer #mainContentArea .use-dsfr video:not([href]),
  #xwikimaincontainer #mainContentArea .use-dsfr audio:not([href]) {
    color: #929292;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h6,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h5,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h4,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h3,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h2,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-h1,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-display-xs,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-display-sm,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-display-md,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-display-lg,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-display-xl {
    color: #161616;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-default--grey {
    background-color: #fff !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-elevated--grey {
    background-color: #fff !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--grey {
    background-color: #f6f6f6 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--blue-france {
    background-color: #f5f5fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--red-marianne {
    background-color: #fef4f4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--green-tilleul-verveine {
    background-color: #fef7da !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--green-bourgeon {
    background-color: #e6feda !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--green-emeraude {
    background-color: #e3fdeb !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--green-menthe {
    background-color: #dffdf7 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--green-archipel {
    background-color: #e5fbfd !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--blue-ecume {
    background-color: #f4f6fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--blue-cumulus {
    background-color: #f3f6fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--purple-glycine {
    background-color: #fef3fd !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--pink-macaron {
    background-color: #fef4f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--pink-tuile {
    background-color: #fef4f3 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--yellow-tournesol {
    background-color: #fef6e3 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--yellow-moutarde {
    background-color: #fef5e8 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--orange-terre-battue {
    background-color: #fef4f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--brown-cafe-creme {
    background-color: #fbf6ed !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--brown-caramel {
    background-color: #fbf5f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--brown-opera {
    background-color: #fbf5f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-alt--beige-gris-galet {
    background-color: #f9f6f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--grey {
    background-color: #eee !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--blue-france {
    background-color: #ececfe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--red-marianne {
    background-color: #fee9e9 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--green-tilleul-verveine {
    background-color: #fceeac !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--green-bourgeon {
    background-color: #c9fcac !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--green-emeraude {
    background-color: #c3fad5 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--green-menthe {
    background-color: #bafaee !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--green-archipel {
    background-color: #c7f6fc !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--blue-ecume {
    background-color: #e9edfe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--blue-cumulus {
    background-color: #e6eefe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--purple-glycine {
    background-color: #fee7fc !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--pink-macaron {
    background-color: #fee9e6 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--pink-tuile {
    background-color: #fee9e7 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--yellow-tournesol {
    background-color: #feecc2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--yellow-moutarde {
    background-color: #feebd0 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--orange-terre-battue {
    background-color: #fee9e5 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--brown-cafe-creme {
    background-color: #f7ecdb !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--brown-caramel {
    background-color: #f7ebe5 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--brown-opera {
    background-color: #f7ece4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--beige-gris-galet {
    background-color: #f3ede5 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--info {
    background-color: #e8edff !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--success {
    background-color: #b8fec9 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--warning {
    background-color: #ffe9e6 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-contrast--error {
    background-color: #ffe9e9 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-flat--grey {
    background-color: #3a3a3a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-flat--info {
    background-color: #0063cb !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-flat--success {
    background-color: #18753c !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-flat--warning {
    background-color: #b34000 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-background-flat--error {
    background-color: #ce0500 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-default--grey {
    color: #3a3a3a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-default--info {
    color: #0063cb !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-default--success {
    color: #18753c !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-default--warning {
    color: #b34000 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-default--error {
    color: #ce0500 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-title--grey {
    color: #161616 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-title--blue-france {
    color: #000091 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-title--red-marianne {
    color: #c9191e !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--grey {
    color: #161616 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--blue-france {
    color: #000091 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--red-marianne {
    color: #c9191e !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--green-tilleul-verveine {
    color: #66673d !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--green-bourgeon {
    color: #447049 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--green-emeraude {
    color: #297254 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--green-menthe {
    color: #37635f !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--green-archipel {
    color: #006a6f !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--blue-ecume {
    color: #2f4077 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--blue-cumulus {
    color: #3558a2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--purple-glycine {
    color: #6e445a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--pink-macaron {
    color: #8d533e !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--pink-tuile {
    color: #a94645 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--yellow-tournesol {
    color: #716043 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--yellow-moutarde {
    color: #695240 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--orange-terre-battue {
    color: #755348 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--brown-cafe-creme {
    color: #685c48 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--brown-caramel {
    color: #845d48 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--brown-opera {
    color: #745b47 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-label--beige-gris-galet {
    color: #6a6156 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-mention--grey {
    color: #666 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--grey {
    color: #fff !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--blue-france {
    color: #f5f5fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--red-marianne {
    color: #fef4f4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--info {
    color: #f4f6ff !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--success {
    color: #dffee6 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--warning {
    color: #fff4f3 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--error {
    color: #fff4f4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--green-tilleul-verveine {
    color: #fef7da !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--green-bourgeon {
    color: #e6feda !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--green-emeraude {
    color: #e3fdeb !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--green-menthe {
    color: #dffdf7 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--green-archipel {
    color: #e5fbfd !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--blue-ecume {
    color: #f4f6fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--blue-cumulus {
    color: #f3f6fe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--purple-glycine {
    color: #fef3fd !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--pink-macaron {
    color: #fef4f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--pink-tuile {
    color: #fef4f3 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--yellow-tournesol {
    color: #fef6e3 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--yellow-moutarde {
    color: #fef5e8 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--orange-terre-battue {
    color: #fef4f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--brown-cafe-creme {
    color: #fbf6ed !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--brown-caramel {
    color: #fbf5f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--brown-opera {
    color: #fbf5f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-text-inverted--beige-gris-galet {
    color: #f9f6f2 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-major--blue-france {
    fill: #000091 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-major--red-marianne {
    fill: #c9191e !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--blue-france {
    fill: #6a6af4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--red-marianne {
    fill: #e1000f !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--green-tilleul-verveine {
    fill: #b7a73f !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--green-bourgeon {
    fill: #68a532 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--green-emeraude {
    fill: #00a95f !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--green-menthe {
    fill: #009081 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--green-archipel {
    fill: #009099 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--blue-ecume {
    fill: #465f9d !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--blue-cumulus {
    fill: #417dc4 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--purple-glycine {
    fill: #a558a0 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--pink-macaron {
    fill: #e18b76 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--pink-tuile {
    fill: #ce614a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--yellow-tournesol {
    fill: #c8aa39 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--yellow-moutarde {
    fill: #c3992a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--orange-terre-battue {
    fill: #e4794a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--brown-cafe-creme {
    fill: #d1b781 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--brown-caramel {
    fill: #c08c65 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--brown-opera {
    fill: #bd987a !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-minor--beige-gris-galet {
    fill: #aea397 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-decorative--blue-france {
    fill: #ececfe !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-artwork-decorative--red-marianne {
    fill: #fee9e9 !important;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-hr {
    background-image: linear-gradient(0deg, #e5e5e5, #e5e5e5);
  }
}
