/*!
 * DSFR v1.3.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

#xwikimaincontainer #mainContentArea #avis-tab .fr-tabs {
  /**
    * Tab button
    */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * Reset liste à puce
  */
  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__list {
    list-style: none;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs::after {
    box-shadow: inset 0 0 0 1px #e5e5e5;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__tab::after {
    background-image: linear-gradient(0deg, #000091, #000091), linear-gradient(0deg, #e5e5e5, #e5e5e5), linear-gradient(0deg, #e5e5e5, #e5e5e5), linear-gradient(0deg, #fff, #fff);
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__tab:not([aria-selected=true]) {
    background-color: #e3e3fd;
    color: #161616;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__tab[aria-selected=true] {
    color: #000091;
    background-color: #fff;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__tab:disabled,
  #xwikimaincontainer #mainContentArea #avis-tab .fr-tabs__tab[disabled] {
    color: #929292;
    background-color: #e5e5e5;
  }
}
