/*
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
/* ------------------------------------ *\
  TAGS
\* ------------------------------------ */

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag {
  --link-underline: none;
  --link-blank-font: none;
  --link-blank-content: none;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag {
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-left[class^="fr-fi-"], #xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-left[class^="fr-fi-"]::before,
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-right[class^="fr-fi-"], #xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-right[class^="fr-fi-"]::before,
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 0.75rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"],
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"] {
  flex-direction: row;
  overflow: initial;
  max-width: none;
  max-height: none;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-left[class^="fr-fi-"]::before,
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-left[class*=" fr-fi-"]::before {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  font-size: 1rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"],
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"] {
  flex-direction: row-reverse;
  overflow: initial;
  max-width: none;
  max-height: none;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-right[class^="fr-fi-"]::before,
#xwikimaincontainer #mainContentArea #avis-tab .fr-tag--sm.fr-tag--icon-right[class*=" fr-fi-"]::before {
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  font-size: 1rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group > li {
  display: inline-flex;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group .fr-tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group a.fr-tag, #xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group button.fr-tag {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group a.fr-tag--sm, #xwikimaincontainer #mainContentArea #avis-tab .fr-tags-group button.fr-tag--sm {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

#xwikimaincontainer #mainContentArea #avis-tab .fr-tag {
  color: var(--g-800);
  background-color: var(--g200);
}

#xwikimaincontainer #mainContentArea #avis-tab a.fr-tag, #xwikimaincontainer #mainContentArea #avis-tab button.fr-tag {
  color: var(--bf500-plain);
  background-color: var(--bf200-bf300);
}

:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="fr-scheme-light"] a.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="fr-scheme-light"] button.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="--scheme-light-"] a.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="--scheme-light-"] button.fr-tag {
  --color-hover: rgba(172, 172, 255, 0.5);
  --color-active: rgba(107, 107, 255, 0.5);
}

:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="fr-scheme-dark"] a.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="fr-scheme-dark"] button.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="--scheme-dark-"] a.fr-tag,
:root:not([data-fr-theme="dark"]) #xwikimaincontainer #mainContentArea #avis-tab [class*="--scheme-dark-"] button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

:root[data-fr-theme="dark"] #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag, #xwikimaincontainer #mainContentArea #avis-tab button.fr-tag {
  --color-hover: rgba(71, 71, 255, 0.5);
  --color-active: rgba(0, 0, 243, 0.5);
}

#xwikimaincontainer #mainContentArea #avis-tab button.fr-tag[disabled], #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag:not([href]) {
  color: var(--g600-g400);
  background-color: var(--g200);
}

@media (hover: hover) and (pointer: fine) {
  #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag:not(a):not(:disabled):hover, #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag[href]:hover, #xwikimaincontainer #mainContentArea #avis-tab button.fr-tag:not(a):not(:disabled):hover {
    background-image: linear-gradient(0deg, var(--color-hover), var(--color-hover));
  }

  #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag:not(a):not(:disabled):active, #xwikimaincontainer #mainContentArea #avis-tab a.fr-tag[href]:active, #xwikimaincontainer #mainContentArea #avis-tab button.fr-tag:not(a):not(:disabled):active {
    background-image: linear-gradient(0deg, var(--color-active), var(--color-active));
  }
}
