/*!
 * DSFR v1.3.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * reset liste à puce
  */
  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu__list,
  #xwikimaincontainer #mainContentArea #avis-tab .fr-menu__list {
    list-style: none;
  }

  /**
  * reset margin
  */
  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu__category {
    margin: 0;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__link,
  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__btn {
    color: #161616;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__link[aria-current],
  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__btn[aria-current] {
    color: #000091;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__link[aria-current]::before,
  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__btn[aria-current]::before {
    background-color: #000091;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__item {
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu {
    background-color: #fff;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu__list {
    box-shadow: 0 1px 0 0 #e5e5e5;
  }
}
@media all and (min-width: 62em) and (-ms-high-contrast: none), (min-width: 62em) and (-ms-high-contrast: active) {
  /**
    * Correctif de l'alignement des menus sur la droite
    */
  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__item--align-right .fr-collapse {
    transform: translateX(-100%);
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__btn[aria-expanded="true"] {
    color: #000091;
    background-color: #e3e3fd;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-menu::after {
    background-color: #fff;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-menu .fr-nav__link {
    box-shadow: 0 calc(-1rem - 1px) 0 -1rem #e5e5e5;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu > .fr-container::before {
    background-color: #e3e3fd;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu__category {
    box-shadow: 0 calc(1rem + 1px) 0 -1rem #e5e5e5;
  }
}
@media (min-width: 62em) {
  #xwikimaincontainer #mainContentArea #avis-tab .fr-nav__item {
    box-shadow: none;
  }

  #xwikimaincontainer #mainContentArea #avis-tab .fr-mega-menu__list {
    box-shadow: none;
  }
}
