/*!
 * DSFR v1.3.1 | SPDX-License-Identifier: MIT | License-Filename: LICENSE.md | restricted use (see terms and conditions)
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /**
  * reset des marges dans l'alerte
  */
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert__title,
  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert p {
    margin: 0 0 0.25rem;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert {
    box-shadow: inset 0 0 0 1px #3a3a3a, inset 2.5rem 0 0 0 #3a3a3a;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert::before {
    color: #fff;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert--info {
    box-shadow: inset 0 0 0 1px #0063cb, inset 2.5rem 0 0 0 #0063cb;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert--error {
    box-shadow: inset 0 0 0 1px #ce0500, inset 2.5rem 0 0 0 #ce0500;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert--success {
    box-shadow: inset 0 0 0 1px #18753c, inset 2.5rem 0 0 0 #18753c;
  }

  #xwikimaincontainer #mainContentArea .use-dsfr .fr-alert--warning {
    box-shadow: inset 0 0 0 1px #b34000, inset 2.5rem 0 0 0 #b34000;
  }
}
